.login{
    background-color: rgb(221, 185, 183);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    height: 70%;
    width: 70%;
    /* background-color: aqua; */
    margin: auto;
}
.login-text{
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box{
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.login-logo{
    font-size: 90px;
    font-weight: 500;
    color: #ac300a;
}
.login-msg{
    font-weight: 500;
}
.email{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 8px;
}
.email:focus{
    outline: none;
}
.password{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 8px;
}
.password:focus{
    outline: none;
}
.login-btn{
    width: 18.5rem;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(197, 72, 40);
    border-style: none;
    color: white;
    margin-bottom: 8px;
    font-size: 15px;
    cursor: pointer;
}
.signup-btn{
    width: 18.5rem;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(51, 157, 206);
    border-style: none;
    margin-bottom: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.fgt-pass{
   cursor: pointer;
   margin-bottom: 8px;
}